<nav class="navbar sticky-top navbar-light bg-light">
  <div class="container-fluid justify-content w-50">
    <%= link_to "Главная", chats_path, class: "btn btn-outline-secondary me-2 w-100" %>
  </div>
</nav>
